<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="navbar-brand" >
        <img class="navbar-logo" src="assets/logo.png">
        <h2 class="navbar-title">OpenPal</h2>
    </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul *ngIf="authenticated" class="navbar-nav mr-auto">
            <!-- <li class="nav-item active">
                <a class="nav-link" (click)="routeLinkDirect('home')">Home <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" (click)="routeLink('search')">Search <span class="sr-only">(current)</span></a>
            </li> -->
        </ul>
        <ul *ngIf="!authenticated" class="navbar-nav mr-auto">
        </ul>
        <form *ngIf="!authenticated" [formGroup]="signin" class="form-inline my-2 my-lg-0" (ngSubmit)="login()">
            <input formControlName="email" class="form-control mr-sm-2" type="text" placeholder="Email" >
            <input formControlName="password" class="form-control mr-sm-2" type="password" placeholder="Password">
            <input type="submit" class="btn btn-success" value="Sign In">
        </form>
        <input *ngIf="authenticated" class="btn btn-success" type="button" value="Log out" (click)="redirectToLanding()">
    </div>
</nav>