.form-register {
  width: 35%;
  margin: 2rem;
  margin-right: 10%;
  float: right;
}

.form-control {
  margin: 1rem 0;
}

.form-dropdowns {
  display: flex;
}

.status-dropdown {
  margin-right: .75rem;
}

.medium-dropdown {
  margin-left: .75rem;
}

.hide-name-toggle {
  display: flex;
  align-items: center;
}

.hide-name-toggle > span {
  margin-left: .5rem;
}
