<form [formGroup]="signup" (ngSubmit)="submit()" class="form-register">
    
    <h2>Register</h2>
    <hr>

    <input formControlName="email" class="form-control mr-sm-2" type="text" placeholder="Email" id="email" >
    <div *ngIf="signup.controls.email.errors?.required" class="alert alert-danger">
        Email is Required
    </div>

    <input formControlName="password" class="form-control mr-sm-2" type="password" placeholder="Password" id="password" >
    <div *ngIf="signup.controls.password.errors?.required"
        class="alert alert-danger">
        Password is Required
    </div>

    <input formControlName="name" class="form-control mr-sm-2" type="text" placeholder="Name" id="name" name="name">
    <div *ngIf="signup.controls.name.errors?.required"
        class="alert alert-danger">
        Name is Required
    </div>
    <div class="hide-name-toggle">
        <input formControlName="showName" type="checkbox" (change)="toggleDisplayName($event)" id="showname">
        <span>Hide my name</span>
    </div>
    <input *ngIf="hasDisplayName" formControlName="displayName" class="form-control mr-sm-2" type="text" placeholder="Display Name" id="displayname">

    <input formControlName="age" class="form-control mr-sm-2" type="text" placeholder="Age" id="age" >
    <div *ngIf="signup.controls.name.errors?.required"
        class="alert alert-danger">
        Age is Required
    </div>

    <div class="form-dropdowns">
        <select formControlName="status" id="status" class="form-control status-dropdown">
            <option value="" disabled selected>Status</option>
            <option value="Single">Youth</option>
            <option value="married">Single</option>
            <option value="divorced">Professional</option>
            <option value="widowed">Married</option>
        </select>
        <div *ngIf="signup.controls.status.errors?.required"
            class="alert alert-danger">
            Status is Required
        </div>
        <select formControlName="gender" id="gender" class="form-control">
            <option value="" disabled selected>Gender</option>
            <option value="Male">Male</option>
            <option value="Female">Female</option>
            <option value="Other">Other</option>
        </select>
        <div *ngIf="signup.controls.gender.errors?.required"
            class="alert alert-danger">
            Gender is Required
        </div>

        <select formControlName="preferredMedium" id="medium" class="form-control medium-dropdown">
            <option disabled selected>Talk through...</option>
            <option value="Personal">Personal</option>
            <option value="Facebook Messenger">Facebook Messenger</option>
            <option value="Voice Call">Voice Call</option>
            <option value="Video Call">Video Call</option>
            <option value="SMS">SMS</option>
            <option value="Phone Call">Phone Call</option>
            <option value="WhatsApp">WhatsApp</option>
        </select>
    </div>

    <input formControlName="religion" class="form-control mr-sm-2" type="text" placeholder="Religion" id="religion">
    <div *ngIf="signup.controls.religion.errors?.required"
        class="alert alert-danger">
        Religion is Required
    </div>

    <input formControlName="lifeIssues" id="lifeissues" class="form-control mr-sm-2" placeholder="Issues">
    <input class="btn btn-success" type="submit" value="Sign up">
</form>
