.form-container {
  overflow-y: hidden;
}

.form-bg {
  position: fixed;
  width: 100%;
}

.form-register {
  color: #ddd;
  position: relative;
  width: 33%;
  margin: 2rem 5%;
  float: right;
}

.form-title {
  font-size: 1.6rem;
}

.form-control {
  margin: 1rem 0;
}

.form-three-info {
  display: flex;
}

.form-three-info #age {
  margin-right: .75rem;
}

.form-three-info #gender {
  margin-left: .75rem;
}

.hide-name-toggle {
  display: flex;
  align-items: center;
}

.hide-name-toggle > span {
  margin-left: .5rem;
}
